* {
    margin: 0;
    padding: 0;
 }
 
 html {
     height: 100%
 }

 header {
     display: flex;
 }
 
 body {
     font-family: sans-serif;
     font-size: 1.2rem;
}
 
 ul li {
    list-style: none;    
}

ul li a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    background: #F3F0D1;
    
}

.logo {
    justify-content: center;
}

.container-fluid{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.flex-container {
    height: auto;
    min-height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
    margin: auto;
}

.flex-container p {
  color: #A20E0E ;
}

.box__productos {
    width: 20rem;
    height: 20rem; 
    margin: 0.3rem;   
    border: 2px solid #A20E0E;
    display: flex;
    justify-content: center;
    align-items: end;
}

.img__productos{
    background-size: cover;
    width: 100%;
    height: 100%;    
}

.title {   
    font-size: 28px; 
    color:#A20E0E;
    animation-duration: 2s;
   animation-name: aparecer;
   animation-iteration-count: 2;    
}

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 } 

.bloque-servicio p {
    color: #A20E0E;
}

.title__img__productos{
    position: absolute;
    font-size: 24px; 
    color:#A20E0E;
    font-size:x-large;
    background: #F3F0D1; 
}

/*hasta aca las clases para flex*/

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

 /*Estilos MENU*/

.nav-bar {
    background: #C85108;
    padding: 20px;
    display: block;
    color: #A20E0E;
    cursor: pointer;
    font-size: 1.5rem;
    width: 100%;
}

.menu {
    background: #C85108;
    width: 100%;    
    transition: all 0.5s ease-in-out;
    justify-content: center;
}

.menu_link {
    display: block;
    padding: 15px;
    color: #F3F0D1;
    font-size: 1.2rem;
    text-decoration: none;    
}

.menu_link:hover {
    background: #A20E0E;
}



.submenu .menu_link {
    background: #A20E0E;
    padding-left: 40px;
}

.submenu .menu_link:hover {
    background: #C85108;
}

.submenu {
    position: absolute;
    top: 160px;
    left: 30px;
    width: 250px;
    overflow: visible;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}

.container_submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
}




/* Estilos Header*/

header {
    margin-right: 100px;
    justify-content: space-between;
    padding-top: 5px;
    margin-bottom: -5px;
    
    }

header  a .logo {
    justify-content: center;
    width: 250px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

header .redes{
    font-size: 30px;
    display: flex;
    justify-content:center;
    margin-right: 10px;
}

.redes a{  
    color: #C85108;
    margin: 0 2.5rem;    
}

header .redesTop .fa-phone-alt{
    color: #C85108;
    margin-left: 50px;
    float: left;
    cursor: pointer;
}

 header .logo:hover {
    border: 2px solid #A20E0E;
}



header .tel:hover, header .redesTop a:hover{ 
    color: #A20E0E;    
}

header .busqueda .buscar{
    border: #C85108 solid 2px;
    float: left; 
    height: 30px;
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px #C85108;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 100px; height: 30px;
   transition: all 2s;
}

header .busqueda .buscar:hover{
    border: #A20E0E solid 3px;   
}

header .busqueda input:hover{
    border: #A20E0E solid 3px;
    width: 150px; height: 40px; 
    padding: 20px;
    font-size: 24px;
    background-color: #E29C68;   
}

header .form-control { 
    width: 9rem;
}

/*FIN  Estilos Header*/


.carr{
    padding: 0;    
    width: 50rem;
    margin: auto;
}

.imgSlider{
    margin: auto;
    margin-top: 200px;
    margin-bottom: -180px;    
    width: 300px;
}
.imgSlider img{
    width: 450px;   
}

.title{
    text-align: center;
    margin-block-end: 10px;
}

.boton{
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    border: none;
}
  

.boton.boton-blanco{
    color: #A20E0E;
    background-color:#F3F0D1;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #A20E0E;
}
.boton.boton-blanco:hover{
    color: #F3F0D1;
    background-color:#A20E0E;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #A20E0E;
}

.seccion{
    padding-top: 60px;
    padding-bottom: 60px;
}

.cuadrado-perfecto{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.cuadrado-perfecto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.bloque-servicio{
    border: 5px solid #E29C68;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px 20px;
}

.columna{
    padding-left: 15px;
    padding-right: 15px;
}
.columna-25{
    width: 22.%;
    margin-top: 25px;
}
.columna-33{
    width: 32.6%;
}
.columna-50{
    width: 50%;
}
.columna-41{
    width: 41.66%;
}
.empujar-50{
    margin-left: 50%;
}
.empujar-55{
    margin-left: 55%;
}
.empujar-66{
    margin-left: 66.66%;
}
.empujar-0{
    margin-left: 0%;
}

#galeria h4{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    position: absolute;
    top: 40%;
    color: #F3F0D1;
    font-size:18px ;
    width: 100%;
}

#galeria img{
  filter:grayscale(1)
}

#galeria .cuadrado-perfecto:hover img{
    filter:grayscale(0)
  }

#galeria .cuadrado-perfecto:hover h4{
    display: none;
}

#contactenos{
    position: relative;
}

#contactenos iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}

#contactenos form{
    margin-top: 200px;
    padding: 60px;
    background-color: #A20E0E;
}

#contactenos form .form-block{
  width: 100%;
  margin-bottom: 15px;
}

#contactenos form .form-block .form-control{
    display: block;
    height: 40px;
    font-size: 16px;
    border: 1px solid #C85108;
    width: 100%;
    padding: 5px 10px;
  }

#contactenos form .form-block textarea{
    display: block;
    height: 100px;
    font-size: 16px;
    border: 1px solid #C85108;
    width: 100%;
    padding: 5px 10px;
}

#contactenos form .form-block.bloque-ultimo{
  margin: 0;
}

  
                            /*Footer*/

footer{
    background-color: #E29C68;
    color: #A20E0E;
    padding-top: 60px;
    
}

footer .barra-footer{
    text-align: center;
    padding-left: 15px;
    padding-right:15px;
    padding-top: 30px;
    padding-bottom:20px;
    background: linear-gradient(90deg, #C85108, #A20E0E)
}

footer .logo-footer{
    width: 100%;     
}

footer ul{
    padding-left: 0;
    list-style:none ;
    margin: 0;
}

footer ul li{
    margin: 10px;
}

footer p{
    color: #A20E0E;
    text-align: center;
    margin-bottom: 30px;
}

footer .barra-footer p{
    color: #aaa5a5;
}


footer a{
    color: #A20E0E;
}

footer .redes{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

footer .redes a{
    margin: 0 7.5px;
    color: ;
}

footer a:hover{ 
    color: #A20E0E;    
}

/* SECCION @Media*/

/* Menu Navegacion Desktop*/

@media (min-width: 960px) {

    .nav-bar {
        display: none;
    }
    
    .menu {
        margin-left: 0;
        display: flex;
    }
    
    .container_submenu {
        position: relative;
    }
    
    .submenu {
        position: absolute;
        top: 60px;
        width: 250px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
    }
    
    .container_submenu:hover .submenu {
        opacity: 1;
        visibility: visible;
    }
    }/*Cierre menu navegacion Desktop*/

    /* Comienzo Estilos GRID*/

 .grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0,  0.75);
    border-radius: 4px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.header {
    grid-area: header;
    background: #F3F0D1;
}

.navbar {
    grid-area: navbar;
    background: #F3F0D1;
}

.main {
    grid-area: main;
    background: #F3F0D1;
} 

.footer {
    grid-area: footer;
    background: #C85108;
}

.grid-container {
    display: grid;
    gap: 10px;    
    grid-template: 
    "header" 150px
    "navbar" auto
    "main"   auto
    "footer" 200px; 
}

.busqueda {    
   opacity: 0;
   visibility: hidden;
}

/*mas de 600 px pasa a modo tablet*/
@media (min-width: 600px) {

    .grid-container{
        grid-template: 
        "header  header" 150px
        "navbar  navbar" auto
        "main    main"   auto
        "footer  footer" 200px; 
    } 

    .busqueda {    
       opacity: 1;
       visibility: visible;
    }
}/* Cierro media query de 600px*/

@media (min-width: 960px) {

    .grid-container{
        grid-template: 
        "header  header  header"  100px
        "navbar  navbar  navbar"  auto
        "main    main    main"    auto
        "footer  footer  footer" auto; 
    }
} /* Cierro media query Desktop*/


/*SUB GRID HEADER*/


.isquierda {
   grid-area: isquierda;
   
}

.centro {
   grid-area: centro;
  
}

.derecha {
   grid-area: derecha;
   
} 

.grid-container-header {
   display: grid;
   gap: 10px;    
   grid-template: 
   "derecha" 100px
   "centro" 100px;
}

/*mas de 600 px pasa a modo tablet*/
@media (min-width: 600px) {

   .grid-container-header{
       grid-template: 
       "centro  derecha" 180px/
        auto     auto; 
   }
}/* Cierro media query de 600px*/


@media (min-width: 960px) {

   .grid-container-header{
       grid-template: 
       "isquierda  centro  derecha" 180px/
         330px      auto      330px;
   }
}/* Cierro media query Desktop*/
/*CIERRE SUB GRID HEADER*/